<!DOCTYPE html>
<html>
<div id="header"></div>
<head>
<meta charset="ISO-8859-1">
<title>Browse</title>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller">
		<div ng-hide="username == null" class="login">
			<form ng-submit="logoutWithServer()">
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
	</div>
	<h2>Available Games</h2>
		<table border="1" ng-init="getGames()" class="inner">
			<tr style="font-weight: bold"><th>Game</th><th>Description</th><th>Developer</th></tr>
    		<tr ng-repeat="newgame in games">
        		<td><a href="ViewGame.html#?id={{newgame.game_id}}">{{newgame.title}}</a></td>
        		<td>{{newgame.description}}</td> 
        		<td>{{newgame.publisher}}</td>
    		</tr>
		</table>
		<br><br>
		<h2>Users</h2>
		<table border="1" ng-init="getProfiles()" class="inner">
			<tr style="font-weight:bold"><th>Username</th><th>Biography</th></tr>
			<tr ng-repeat="profile in profiles">
				<td><a href="ViewProfile.html#?id={{profile.id}}">{{profile.username}}</a></td>
				<td>{{profile.biography}}</td>
			</tr>
		</table>
	</div>
</body>
<script>
	$("#header").load("header.html");
	$("#footer").load("footer.html");
</script>
</html>