<!DOCTYPE html>
<html>
<div id="header"></div><br>
<head>
<meta charset="ISO-8859-1">
<title>Edit Game</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller" ng-init="getGame()">
		<div ng-hide="username == null" class="login">
			<form ng-submit="logoutWithServer()" >
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
		</div>
		<h2>Edit Game</h2>
		<div ng-show="$scope.userId == game.publisher_id">
		<form ng-submit="updateGame()" >
			<h3>Title:</h3><br>
			<input type="text" ng-model="game.title">
			<h3> Description: </h3>
			<textarea rows="5" cols="75" placeholder="Enter game information here..."
				name="userdesc" ng-model="game.description"></textarea>
			<h3>Add Payment URL:</h3>
			http://<input type="text" ng-model="game.url">
			<h3>Update Game File</h3>
			<input type="file" name="gamefile" fileread="update.file">
			<br> <br> <input type="submit" value="Save Changes" onClick="window.alert('Saved!')" class="logout">
		</form>
		</div>
	</div>
	<div id="footer"></div>
</body>
<script>
$("#header").load("header.html");
$("#footer").load("footer.html");
</script>

</html>