<!DOCTYPE html>
<html>
<div id="header"></div><br>
<head>
<meta charset="ISO-8859-1">
<title>Edit Profile</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller" ng-init="getProfile()">
		<div ng-hide="username == null" class="login">
			<form ng-submit="logoutWithServer()">
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
		</div>
		<h2>Edit Profile</h2>
		<form ng-submit="updateProfile()">
			Upload Profile Picture: <input type="file" name="profilepic" 
				accept="image/*" fileread="profile.image"><br> <br> Screen Name: <input
				type="text" name="newsname" ng-model="profile.name"
				value={{profile.name}}><br> <br> Description: <br>
			<textarea rows="5" cols="75" placeholder="Enter personal bio here."
				name="userdesc" ng-model="profile.bio" value={{profile.bio}}></textarea>
			<br> <br> <input type="submit" value="Save Changes" class="logout">
		</form>
	</div>
	<div id="footer"></div>
</body>
<script>
$("#header").load("header.html");
$("#footer").load("footer.html");
</script>

</html>