<!DOCTYPE html>
<html>
<div id="header"></div><br>
<head>
<meta charset="ISO-8859-1">
<title>Upload Game</title>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller">
		<div ng-hide="username == null" class="login">
			<form ng-submit="logoutWithServer()">
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
		</div>
	<h1>Upload a New Game</h1>
	<form ng-submit="uploadGame()" action="GameUpload.html">
		Title: <input type="text" name="title" ng-model="upload.title"><br><br>
		Description: <br><textarea rows="5" cols="75" placeholder="Enter game description here." name="desc" ng-model="upload.description"></textarea><br><br>
		Game File: <input type="file" name="gamefile" fileread="upload.file"><br><br>
		<h3>Add Payment URL:</h3>
			http://<input type="text" ng-model="upload.url">
		<input type="submit" value="Submit New Game" class="logout"><br><br>
	</form>
	</div>
	<div id="footer"></div>
</body>
<script>
$("#header").load("header.html");
$("#footer").load("footer.html");
</script>
</html>