<ul>
	<li><a href="index.html">Home</a></li>
	<li><a href="search.html">Search</a></li>
	<li><a href="Browse.html">Browse</a></li>
	<li><a href="ViewProfile.html">My Profile</a></li>
	<li><a href="EditProfile.html">Edit My Profile</a></li>
	<li><a href="GameUpload.html">Upload New Game</a></li>
	<li><a href="LoginandSignup.html">Login/Sign Up</a></li>
</ul>
<br><br>