<!DOCTYPE html>
<html>
<div id="header"></div><br>
<head>
<meta charset="ISO-8859-1">
<title>Login/Sign Up</title>
<script type="text/javascript">
	function validatePassword() {
		var password = document.getElementById("newpassword")
		var confirm_password = document.getElementById("passcheck");
		if (password.value != confirm_password.value) {
			confirm_password.setCustomValidity("Please ensure that the passwords are the same.");
		} else {
			confirm_password.setCustomValidity('');
		}
	};
</script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller">
		<div ng-hide="username == undefined" class="login">
			<form ng-submit="logoutWithServer()" >
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
		</div>
		<h1>Login:</h1>
		<form ng-submit="loginWithServer()">
			<!-- These fields should provide the following data: the username (no restrictions established yet) and the password (again, no restrictions). -->
			Username: <input type="text" name="username" ng-model="login.name"><br>
			<br> Password: <input type="password" name="password"
				id="password" ng-model="login.pass"><br>
			<br> <input type="submit" value="Login" class="logout">
		</form>

		<h1>New user? Sign up here!</h1>
		<form ng-submit="registerWithServer()">
			<!-- These fields should provide the following data: username, e-mail (split up into 3 sections, as mentioned in Trello; the first should be the
			 e-mail account name, the second should be the domain (e.g., gmail or unomaha), and the third should be the extension), and password (which must
			 be equivalent in both the password and confirm password fields in order for the user to proceed).
		 -->
			Username: <input type="text" name="newusername" ng-model="register.name"><br> 
			<br> E-mail Address:
			<input type="text" placeholder="Example@ex.com" name="newemailname" ng-model="register.email"><br> <br> 
			Password: <input type="password" name="newpassword" id="newpassword" ng-model="register.pass"><br> <br> 
			Confirm Password: <input type="password" name="passcheck" id="passcheck" onkeyup="validatePassword()"><br> <br> 
			<input ng-click="newusername = newusername + 1" type="submit" value="Register" class="logout">
		</form>
	</div>
	<div id="footer"></div>
</body>
<script>
$("#header").load("header.html");
$("#footer").load("footer.html");
</script>
</html>