<!DOCTYPE html>
<html>
<div id="header"></div>
<head>
<meta charset="ISO-8859-1">
<title>Search</title>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller">
		<div ng-hide="username == null" class="login">
			<form ng-submit="logoutWithServer()">
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
	</div>
	<form ng-submit="search()">
		<input type="text" name="SearchString" ng-model="search.query">
		<input type="submit" value="Search" class="logout">
	</form>
	<br><br>
		<input type="checkbox" name="checkchoice" id="game" ng-model="gameClicked" ng-init="gameClicked = true"><label for="game">Games</label>
		<input type="checkbox" name="checkchoice2" id="profile" ng-model="profClicked" ng-init="profClicked = true"><label for="profile">Profiles</label>
	<br><br>
		<div ng-show="gameClicked">
		<table border="1">
			<h2> Games </h2>
			<tr style="font-weight: bold"><td>Game</td><td>Description</td><td>Developer</td><td>ID</td></tr>
    		<tr ng-repeat="newgame in games">
        		<td><a href="ViewGame.html#?id={{newgame.game_id}}">{{newgame.title}}</a></td>
        		<td>{{newgame.description}}</td> 
        		<td>{{newgame.publisher}}</td>
        		<td>{{newgame.id}}</td>
    		</tr>
		</table>
		</div>
		<br><br>

		<div ng-show="profClicked">
			<h2> Profiles </h2>
		<table border="1">
			<tr style="font-weight:bold"><td>Username</td><td>Biography</td></tr>
			<tr ng-repeat="profile in profiles">
				<td><a href="ViewProfile.html#?id={{profile.id}}">{{profile.username}}</a></td>
				<td>{{profile.biography}}</td>
			</tr>
		</table>
		</div>
			</div>
</body>
<script>
	$("#header").load("header.html");
	$("#footer").load("footer.html");
</script>
</html>
		