@CHARSET "ISO-8859-1";
.inner
{
    display: inline-block;
}
table {
    border-collapse: collapse;
    font-family: "Times New Roman", Times, serif;
}
table, th, td {
    border: 2px solid black;
}
th, td{
	padding: 6px;
    border-collapse: collapse;
}
th{
	color: #1BA3E7;
	font-weight:bold
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.login{
	float:right;
	display: inline;
    color: black;
    font-variant: small-caps;
}
.welcome{
	text-align:center;
	color: #a6ffff;
	background-color:#2566fc;
	font-variant: caps;
}
.favorite{
	border-radius:16px;
	padding: 10px;
	background-color: #2353E7;
	color:white;
	font-weight:bold;
}
.favorite:hover{
	background-color: #083AD8;
}
.logout{
	border-radius:16px;
	padding: 10px;
	background-color: #1506c6;
	color: white;
}
.logout:hover{
	background-color:#0000ff;
}
.download{
	border-radius:16px;
	padding: 10px;
	background-color:#109820;
	color: white;
}
.download:hover{
	background-color:#08D621;
}
.donate{
	background-color:#109820;
	color: white;
	padding: 10px 18px;
}
.publisher{
	background-color:#483ffc;
	color: white;
	padding: 10px 18px;
}
input[type=text],input[type=password] {
    width: 30%;
    padding: 10px 18px;
    margin: 6px 0;
    box-sizing: border-box;
}
textarea {
    width: 70%;
    padding: 10px 18px;
    margin: 6px 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}
a {
	text-decoration: none;
	color: #2326E7;
	font-weight: 600;
}
a:hover{
	color: #2373E7;
	font-weight: 600;
}
h1{
	font-variant:small-caps;
}
h2{
	font-variant:small-caps;
}