<!DOCTYPE html>
<html>
<div id="header"></div><br>
<head>
<meta charset="ISO-8859-1">
<title>View Game</title>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.angularjs.org/tools/system.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller" ng-init="getGame()">
		<div ng-hide="username == null" class="login">
			<form ng-submit="logoutWithServer()">
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
			</div>
		<div ng-hide="username == null">
			<form ng-submit="favoriteGame()">
				<input type = "submit" value = "Favorite" name="favorite" class="favorite">
			</form>
		</div>
		<br><br>
		<div ng-show="userId==game.author">
			<a href='EditGame.html#?id={{game.id}}' class="donate">Edit This Game</a>
		</div>
		<br><br>
		<h1>{{game.title}}</h1>
		<h2>Description:</h2>
		<textarea rows="5" cols="75" readonly="readonly" name="game_desc">{{game.description}}</textarea>
		<br> <br>
		<h2>Downloads:</h2>
		<form ng-submit="downloadGame()">
			<button type="submit" class="download">Download game file now!</button>
		</form>
		<h2>Publisher:</h2>
		<div>
			<a href="ViewProfile.html#?id={{game.author}}" class="publisher">{{game.publisher}}</a>
		</div>
		<h2>Payment Information</h2>
		<a href=http://{{game.url}} class="donate">Donate to developer!</a>
			<h2>Reviews</h2>
    		<table border="1" ng-init="getReviews()">
				<tr style="font-weight: bold"><td>Reviewer</td><td>Review</td><td>Details</td><td>Rate</td><td>Review Quality</td></tr>
    			<tr ng-repeat="newgame in reviews">
        			<td>{{newgame.reviewer_name}}</td> 
        			<td>{{newgame.title}}</td>
        			<td>{{newgame.review_details}}</td>
        			<td><form><input type="button" name="newgame.id" ng-click="rateReview(newgame.id, true)" ng-model="review.rate" id="rate" value="Upvote Review"><input type="button" value="Downvote Review" name="rate" ng-model="review.rate" ng-click="rateReview(newgame.id, false)"></form></td>
    				<td>{{newgame.score}}</td>
    			</tr>
    		</table>
    	<div ng-show="userId==game.author">
    	<h2>Bug Reports</h2>
    	<table border="1" ng-init="getGameReports(game.id)">
			<tr style="font-weight: bold"><td>Game</td><td>Reporter</td><td>Report Details</td><td>Delete</td></tr>
    		<tr ng-repeat="item in gameReports">
        		<td><a href="ViewGame.html#?id={{item.game_id}}">{{item.game_name}}</a></td>
        		<td>{{item.reporter_name}}</td>
        		<td>{{item.details}}</td>
        		<td><form><input type="button" value="Delete Report" ng-click="deleteReport(userId, item.id)"></form></td>
    		</tr>
    	</table>
		</div>
		<input type="checkbox" name="checkchoice" id="rev" ng-model="revClicked"><label for="rev">Write a Review</label>
		<div ng-show="revClicked">
		<form ng-submit="review()">
		<h2>Review Game</h2>
		<h3>Review Title</h3>
			<input type="text" ng-model="review.title">
		<h3>Review Score</h3>
			<input type="radio" value="1" data-ng-model="review.score" id="score" name="score"><label for="score">Good!</label>
			<input type="radio" value="0" data-ng-model="review.score" id="score2" name="score"><label for="score2">Bad!</label>
		<h3>Review Text</h3>
			<textarea rows="5" cols="75" ng-model="review.review" placeholder="Write your review here..."></textarea>
			<input type="submit" value="Submit Review" onClick="window.alert('Submitted!')" class="logout">
		</form>
		</div>
		<br><br>
		
		<form ng-submit="reportBug()">
			<input type="checkbox" name="checkchoice" id="rprt" ng-model="reportClicked"><label for="rprt">Report Bug</label>
			<div ng-show="reportClicked">
			<h2>Report Bug</h2>
				<h3>Reason for Reporting</h3>
  				<input type="text" name="reason" ng-model="report.reason">
  				<h3>Additional Information</h3>
  				<textarea rows="5" cols="75" ng-model="report.details"></textarea>
  				<input type="submit" value="Submit Report" onClick="window.alert('Submitted!')" class="logout">
			</div>
		</form>
			<br>
			<form ng-submit="report()">
			<input type="checkbox" name="checkchoice" id="bug" ng-model="bugClicked"><label for="contact">Report Game</label>
			<div ng-show="bugClicked">
			<h2>Report</h2>
				<h3>Reason</h3>
  				<input type="text" ng-model="report.subject">
  				<h3>Description</h3>
  				<textarea rows="5" cols="75" ng-model="report.info"></textarea>
  				<input type="submit" value="Submit Report" onClick="window.alert('Submitted!')" class="logout">
			</div>
		</form>
	</div>
	<div id="footer"></div>
</body>
<script>
	$("#header").load("header.html");
	$("#footer").load("footer.html");
</script>
</html>