<!DOCTYPE html>
<html>
<div id="header"></div><br>
<head>
<meta charset="ISO-8859-1">
<title>View Profile</title>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-cookies.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<div ng-app="myapp" ng-controller="myappcontroller" ng-init="getProfile()">
		<div ng-hide="username == null" class="login">
			<form ng-submit="logoutWithServer()">
				{{username}}
				<input type="submit" value="Log Out" name="logout" class="logout">
			</form>
		</div>
		<h1>{{profile.name}}</h1>
		<img ng-hide="profile.image == null" data-ng-src={{profile.image}} alt="Profile Picture" height="128" width="128">
		<h2>Biography:</h2>
		<textarea rows="5" cols="75" readonly="readonly" name="user_desc">{{profile.bio}}</textarea>
		<h2>Games by Publisher</h2>
		<table border="1" ng-init="getGamesByPublisher()">
			<tr style="font-weight: bold"><td>Game</td><td>Description</td><td>ID</td><td>Edit Game</td></tr>
    		<tr ng-repeat="newgame in games">
        		<td><a href="ViewGame.html#?id={{newgame.game_id}}">{{newgame.title}}</a></td>
        		<td>{{newgame.description}}</td> 
        		<td>{{newgame.id}}</td>
        		<td><div ng-show="userId==profile.id"><a href="EditGame.html#?id={{newgame.game_id}}">Edit Game</a></div></td>
    		</tr>
		</table>
		<br><br>
		<h2>Featured Games:</h2>
		<table border="1" ng-init="getFavoriteGames()">
			<tr style="font-weight: bold"><td>Game</td><td>Description</td><td>Developer</td><td>ID</td></tr>
    		<tr ng-repeat="newgame in favgames">
        		<td><a href="ViewGame.html#?id={{newgame.game_id}}">{{newgame.title}}</a></td>
        		<td>{{newgame.description}}</td> 
        		<td>{{newgame.publisher}}</td>
        		<td>{{newgame.id}}</td>
    		</tr>
    	</table>
    	<br><br>
    	<h2>Reviews</h2>
    	<table border="1" ng-init="getReviewsByReviewer()">
			<tr style="font-weight: bold"><td>Game</td><td>Review</td><td>Details</td></tr>
    		<tr ng-repeat="newgame in reviews">
        		<td><a href="ViewGame.html#?id={{newgame.game_id}}">{{newgame.game_name}}</a></td>
        		<td>{{newgame.review_title}}</td>
        		<td>{{newgame.review_details}}</td>
    		</tr>
    	</table>
    	<div ng-show="userId==profile.id">
    	<h2>Bug Reports</h2>
    	<table border="1" ng-init="getAllReports()">
			<tr style="font-weight: bold"><td>Report ID</td><td>Game</td><td>Reporter</td><td>Report Details</td><td>Delete Report</td></tr>
    		<tr ng-repeat="item in allReports">
    			<td>{{item.id}}</td>
        		<td><a href="ViewGame.html#?id={{item.game_id}}">{{item.game_name}}</a></td>
        		<td>{{item.reporter_name}}</td>
        		<td>{{item.details}}</td>
        		<td><form><input type="button" value="Delete Report" ng-click="deleteReport(item.id)"></form></td>
    		</tr>
    	</table>
    	</div>
	</div>
	<div id="footer"></div>
</body>
<script>
$("#header").load("header.html");
$("#footer").load("footer.html");
</script>
</html>